@import "tailwindcss";

header {
  position: sticky;
  z-index: 10;
}

.jumbo {
  background-image: url("/public/img/back-jumbo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 880px;
}

.jumbo h1 {
  font-size: 2.5rem;
  color: white;
}

.jumbo h3 {
  font-size: 1.5rem;
  color: white;
}

.btn {
  display: flex;
  justify-content: center;
  padding-top: 6.25rem;
  gap: 1.25rem;
}

.btn-pre {
  background-color: transparent;
  color: white;
  font-size: 1.5rem;
  border-radius: 1.25rem;
  border: 1px solid white;
  padding: 5px 0.625rem;
  cursor: pointer;
}

.btn-men {
  background-color: transparent;
  color: white;
  font-size: 1.5rem;
  border-radius: 1.25rem;
  border: 1px solid white;
  padding: 5px 0.625rem;
  cursor: pointer;
}

.btn-pre:hover,
.btn-men:hover {
  transform: scale(1.2);
  transition: 1s;
  background-color: #ca3500;
  border: 1px solid #ca3500;
}

.jumbo::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 62.5rem;
  background-color: black; /* Colore dell'overlay (puoi cambiarlo) */
  opacity: 0.5; /* Regola il livello di opacità */
  z-index: 0; /* Assicurati che sia dietro al contenuto */
}

.cont {
  position: relative;
  z-index: 1; /* Porta il contenuto sopra l'overlay */
}

.rece h1 {
  font-size: 2.5rem;
}

.img-rece {
  display: flex;
  justify-content: center;
}

.stars {
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

.img-men {
  background-image: url("/public/img/back-menu.jpg");

  background-repeat: repeat;
}

.img-men::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 126.25rem;
  background-color: black; /* Colore dell'overlay (puoi cambiarlo) */
  opacity: 0.5; /* Regola il livello di opacità */
  z-index: 0; /* Assicurati che sia dietro al contenuto */
}

.cont-menu,
header {
  position: relative;
  z-index: 1; /* Porta il contenuto sopra l'overlay */
}

.btn-nav {
  display: flex;
  justify-content: space-between;
  padding-top: 1.25rem;
}

.btn-nav button {
  background-color: #ca3500;
  color: white;
  cursor: pointer;
  padding: 5px 10px;
  font-size: 1.25rem;
  border-radius: 20px;
}

.btn-redo {
  background-color: #ca3500;
  color: white;
  cursor: pointer;
  padding: 5px 10px;
  font-size: 1.25rem;
  border-radius: 20px;
  margin-bottom: 1.875rem;
}

.btn-nav button:hover,
.btn-redo:hover {
  transform: scale(1.2);
  transition: 1s;
}

.animated-underline {
  color: white;
  position: relative;
  display: inline-block;
  /* margin: 10px 0; */
  transition: color 0.3s ease;
  text-emphasis: center;
}
.animated-underline::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 0;
  height: 2px;
  background: white;
  transition: width 0.3s ease;
}
.animated-underline:hover {
  color: white;
}
.animated-underline:hover::after {
  width: 100%;
}

/*----------
ABOUT US
------------*/

.about-us h1 {
  text-align: center;
  font-size: 40px;
  padding-bottom: 1.25rem;
}

.about-us {
  padding-bottom: 1.875rem;
}
